name: Gatsby Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Restore node_modules cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: node_modules-${{ hashFiles('**/yarn.lock') }}

      - name: Cache ./public
        id: cache-folder-public
        uses: actions/cache@v3
        with:
          path: public
          key: v4-${{ runner.os }}-public-${{ github.sha }}
          restore-keys: |
            v4-${{ runner.os }}-public-

      - name: Cache ./.cache
        id: cache-folder-cache
        uses: actions/cache@v3
        with:
          path: .cache
          key: v4-${{ runner.os }}-cache-${{ github.sha }}
          restore-keys: |
            v4-${{ runner.os }}-cache-

      - uses: enriikke/gatsby-gh-pages-action@v2
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          deploy-branch: gh-pages
